@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');
body {
    background: #FAEBD7;
    color: #575F7D;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: lighter;
}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-family: 'Oswald', sans-serif;
    color: rgb(36, 3, 67);
    font-size: 32px;
    font-weight: 900;
}

h2{
    font-family: 'Oswald', sans-serif;
    color: brown;
    font-size: 20px;
    font-weight: lighter;
    font-weight: 500;
    margin: -10px;
}
a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 16px;
}
a:hover {
    color: rgb(255, 255, 255);
}
.container {
    width: 700px;
    margin: 40px auto;
}
.discover:hover
{
    background-color: rgb(250, 235, 215);
}
.discover:hover a
{
    color: black;
}
.passions {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}
.container img {
    border-radius: 50%;
}
.pres {
    text-align: center;
}
.discover {
    background-color: #000000;
    color: white;
    padding: 15px 20px;
    border-radius: 4px; 
}
.reseaux img {
    width: 50px;
    height: 50px;
}
.reseaux {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}
.reseaux ul
{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
}
.reseaux:hover ul
{
    color:rgb(255, 255, 255)
}

@media (max-width: 760px) {
    .container{
        width: 600px;
    }
}
@media (max-width: 500px) {
    .container{
        width: 400px;
    }
}
